<!--HEADER-->
<nav class="navbar navbar-full navbar-light bg-faded nav-marvel">
  <a class="navbar-brand col-xs-2" href="../">
    <img src="/assets/logo.png"  alt="logo-marvel" class="logo-marvel">
  </a>
  <form class="form-inline col-xs-6 center-nav padding">
    <div class="input-group full-width">
      <input type="text" class="form-control" placeholder="Search character..." aria-describedby="basic-addon1">
    </div>
  </form>
</nav>

<!--BODY ( CHARACTERS, FAVORITES ) -->
<div class="container-fluid gray-bg padding-body">
  <router-outlet></router-outlet>
</div>

<!--BOTTOM-->