@import '../styles.sass'

.nav-marvel
    background-color: $black
    box-shadow: 0px 2px 10px $black;

.logo-marvel
    width: 80%
    height: 100%


.full-width
    width: 100%


.input-search
    background: $graySearch
    font-weight: 100
    font-size: 2em
    letter-spacing: 0px

.center-nav
    padding: 8px

.container-entry
    margin-top: 15px

.app
    min-height: 100%
    margin-bottom: -100px
    width: 100%
    display: table

router-outlet,
footer,
nav,
.entry 
    display: table-row

footer
    height: 100px
    padding: 10px
    background: $black
    color: $whiteBg
    font-weight: 100
    display: flex
    align-items: flex-start
    align-content: center
    .copy
        padding: 30px

.logo-div
    float: right
    text-align: right
    padding-right: 150px
    img
        position: relative
        bottom: 15px
    .github-omar
        color: $whiteBg
        margin: 10px
        font-size: 4em
        &:hover
            color: $grability 

    


    