
<!-- ROW SORTS -->
<div class="row flex-items-xs-top padding-row">
  <div class="col-xs-6">

    <!--TITLE WITH LOGO-->
    <div class="col-xs-1">
      <!--LOGO-->
      <img src="/assets/characters.png" alt="characters-logo">
    </div>
    <!--TITLE-->
    <div class="col-xs-11">
      <h1>Characters</h1>
    </div>

  </div>
  <!-- TODO: SORT DROP DOWN-->
  <div class="col-xs-6">
    <!--div class="dropdown">
      <button 
      class="btn btn-secondary dropdown-toggle" 
      type="button" 
      id="dropdownMenuButton" 
      data-toggle="dropdown" 
      aria-haspopup="true" 
      aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Sort by name</a>
        <a class="dropdown-item" href="#">Sort by modified</a>
        <a class="dropdown-item" href="#">Sort by rate</a>
      </div>
    </div-->
  </div>
</div>

<!-- ROW CHARACTERS -->
<div class="row flex-items-xs-middle padding-row">
  <div *ngIf="characters" class="col-xs-9" >
    <!-- CHARACTERS-DETAIL COLUMN -->
    <app-character-details
    *ngFor="let character of characters.data.results"
    [character]="character"
    class="col-xs-12 col-sm-6">
    </app-character-details>
  </div>
  <!-- FAVORITES COLUMN -->
  <div class="col-xs-3">
    <!-- TODO: ADD FAVORITES COMPONENT -->
    <h1>FAVORITES</h1>
  </div>

  <div class="col-xs-9 padding-row">
    <app-paginator
    *ngIf="getTotalPages()"
    [currentPage]="page"
    [totalPages]="getTotalPages()"
    (change)="onChangePage($event)">
    </app-paginator>
  </div>
</div>


